$spacings: (
  sm: 0.25em,
  normal: 0.5em,
  md: 0.75em,
  lg: 1em,
  xl: 1.25em,
  xxl: 1.5em,
);

// VALORI SPACING //

@each $taglia, $valore in $spacings {
  .padding-block-#{$taglia} {
    padding-block: #{$valore};
  }
  .padding-inline-#{$taglia} {
    padding-inline: #{$valore};
  }
  .margin-block-#{$taglia} {
    margin-block: #{$valore};
  }
  .margin-inline-#{$taglia} {
    margin-inline: #{$valore};
  }
}

// CICLO PER GENERARE LE CLASSI //
